#div_input {margin: 4em auto; width: 1000px; height: 420px; border: 1px; background-color: lightblue}
span {color: brown}
dt {font-size: 4em; margin: 10px; padding: 5px}
dd {font-size: 4em; margin: 10px}