#div_input {margin: 2em auto; width: 500px; height: 250px; border: 1px; background-color: lightblue}
span {color: brown}
dt {font-size: 2em; margin: 10px; padding: 5px}
dd {font-size: 2em; margin: 10px}